<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Use to check weather</string>
	<key>NSHealthShareUsageDescription</key>
	<string>Use to read step data</string>
	<key>NSMotionUsageDescription</key>
	<string>Use to count steps</string>
</dict>
</plist>
